<div class="container">
    <div class="heading">
        <h4>ग्राहक विवरण</h4>
    </div>
    <div class="profile-div">
        <div class="img-div">
            <img src="./assets/profile1.jpg" alt="">
        </div>
        <div class="details-div">
            <div class="details-name">
                <h6>ग्राहक आईडी: </h6>
                <h6>नाम:</h6>
                <h6>मोबाइल नंबर:</h6>
                <h6>वाहन नंबर:</h6>
            </div>
            <div class="details-value">
                <h6>13CF38DA</h6>
                <h6>राजेश शर्मा</h6>
                <h6>9876543210</h6>
                <h6>MH12AB1234</h6>
            </div>
        </div>
    </div>
</div>