<div class="container">
    <div class="heading">
        <h4>ग्राहक विवरण</h4>
    </div>
    <div class="profile-div">
        <div class="img-div">
            <img [src]=customer?.customerImage alt="User Profile">
        </div>
        <div class="details-div">
            <div class="details-name">
                <h6>ग्राहक आईडी: </h6>
                <h6>नाम:</h6>
                <h6>मोबाइल नंबर:</h6>
                <h6>वाहन नंबर:</h6>
            </div>
            <div class="details-value">
                <h6>{{customer?.id}}</h6>
                <h6>{{customer?.fullName}}</h6>
                <h6>{{customer?.mobileNumber}}</h6>
                <h6>{{customer?.vehicle?.vehicleNumber}}</h6>
            </div>
        </div>
    </div>
</div>