.container {
  height: 100vh;
  width: 100vw;
  background-color: #3f62f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
}

.heading h4 {
  margin: 0;
  padding: 50px;
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.profile-div {
  width: 900px;
  height: 584px;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-div {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 5px solid #3f62f0;
  position: absolute;
  top: 0px;
  left: calc(50% - 125px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f62f0;
}

.img-div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-div {
  background-color: #839bfc;
  width: 100%;
  height: 500px;
  margin-top: 155px;
  padding-top: 100px;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-div .details-name{
}
.details-div .details-name h6{
    font-size: 32px;
    margin: 10px;
    color: white;
    font-weight: 500;
}
.details-div .details-value{
}
.details-div .details-value h6{
    font-size: 32px;
    margin: 10px;
    color: white;
    font-weight: 400;
}
