<div class="screen-container">
    <div class="top-logos">
        <div class="div-1">
            <img src="assets/tadoba-logo.png" alt="Tadoba Solutions" class="logo-tadoba" />
            <img src="assets/ibitf.png" alt="IBITF" class="logo-ibitf" />
        </div>
        <div class="div-2">
            <img src="assets/DST.png" alt="DST" class="logo-dst" />
            <img src="assets/iitb.png" alt="IITB" class="logo-iitb" />
            <img src="assets/NMICPS.png" alt="NMICPS" class="logo-nmicps" />
        </div>
    </div>

    <div class="patent-label">
        - Tadoba Solutions Pvt. Ltd. (Patented Technology)
    </div>

    <div class="main-section">
        <div class="text-section">
            <div class="main-heading">
                <h1>Solar-Powered<br />Operated<br />Battery Swapping Station</h1>
            </div>
        </div>

        <div class="image-section">
            <img src="assets/scooter.png" alt="Scooter" class="vehicle scooter" />
            <img src="assets/panel.png" alt="Swap Station" class="station" />
            <img src="assets/rickshaw.png" alt="Auto Rickshaw" class="vehicle auto" />
        </div>
    </div>
    <div class="footer-section">
        <div class="contact-div">
            <div class="number-div">
                <div class="number">
                    <i class="fas fa-phone-alt icon"></i>
                    <h6>+91 9685778971</h6>
                </div>
                <div class="number">
                    <i class="fab fa-whatsapp icon whatsapp-icon"></i>
                    <h6>+91 8896444447</h6>
                </div>
            </div>
            <div class="web-loc-div">
                <div class="info">
                    <i class="fas fa-globe icon"></i>
                    <h6>www.tadobasolutions.com</h6>
                </div>
                <div class="info">
                    <i class="fas fa-map-marker-alt icon"></i>
                    <h6>Sejbahar, Raipur (C.G.), 492015(IN)</h6>
                </div>
            </div>
        </div>
        <div class="footer-logo-div">
            <img src="assets/mii.png" alt="Make In India" class="logo-makeinindia" />
            <img src="assets/aaba.png" alt="Aatmanirbhar Bharat" class="logo-atmanirbhar" />
            <img src="assets/startup-india.png" alt="Startup India" class="logo-startup" />
        </div>
    </div>
</div>