<div class="container">
    <div class="hero-sec">
        <div class="available-batteries">
            <div class="available-batteries-heading">
                <h6>उपलब्ध बैटरियां</h6>
            </div>
            <div class="battery-indicator-div">
                <div class="batteries-box">
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी-1</p>
                        </div>
                        <div class="battery-box">
                            <app-test-animation *ngIf="bsData1"></app-test-animation>
                            <img src="./assets/charges-battery.png" alt="charges-battery.png" *ngIf="!bsData1">
                        </div>

                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी<span class="das">-</span><span class="num">2</span></p>
                        </div>
                        <div class="battery-box">
                            <app-test-animation *ngIf="bsData2"></app-test-animation>
                            <img src="./assets/charges-battery.png" alt="charges-battery.png" *ngIf="!bsData2">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी<span class="das">-</span><span class="num">3</span></p>
                        </div>
                        <div class="battery-box">
                            <app-test-animation *ngIf="bsData3"></app-test-animation>
                            <img src="./assets/charges-battery.png" alt="charges-battery.png" *ngIf="!bsData3">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी<span class="das">-</span><span class="num">4</span></p>
                        </div>
                        <div class="battery-box">
                            <app-test-animation *ngIf="bsData4"></app-test-animation>
                            <img src="./assets/charges-battery.png" alt="charges-battery.png" *ngIf="!bsData4">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी<span class="das">-</span><span class="num">5</span></p>
                        </div>
                        <div class="battery-box">
                            <app-test-animation *ngIf="bsData5"></app-test-animation>
                            <img src="./assets/charges-battery.png" alt="charges-battery.png" *ngIf="!bsData5">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी<span class="das">-</span><span class="num">6</span></p>
                        </div>
                        <div class="battery-box">
                            <app-test-animation *ngIf="bsData6"></app-test-animation>
                            <img src="./assets/charges-battery.png" alt="charges-battery.png" *ngIf="!bsData6">
                        </div>
                    </div>
                </div>
                <div class="status-indicators">
                    <div class="barttery-status-indicator">
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/charges-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>पूरी तरह चार्ज है</p>
                            </div>
                        </div>
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/charging-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>चार्ज हो रहा है</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>