<div class="container">
    <div class="hero-sec">
        <div class="available-batteries">
            <div class="available-batteries-heading">
                <h6>उपलब्ध बैटरियां</h6>
            </div>
            <div class="battery-indicator-div">
                <div class="batteries-box">
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी-1</p>
                        </div>
                        <div class="battery-box">
                            <img src="./assets/charges-battery.png" alt="charges-battery.png">
                        </div>

                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी-2</p>
                        </div>
                        <div class="battery-box">
                            <img src="./assets/charges-battery.png" alt="charges-battery.png">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी-3</p>
                        </div>
                        <div class="battery-box">
                            <img src="./assets/charges-battery.png" alt="charges-battery.png">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी-4</p>
                        </div>
                        <div class="battery-box">
                            <img src="./assets/dead-battery.png" alt="charges-battery.png">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी-5</p>
                        </div>
                        <div class="battery-box">
                            <img src="./assets/dead-battery.png" alt="charges-battery.png">
                        </div>
                    </div>
                    <div class="battery-box-p">
                        <div class="battery-box-heading">
                            <p>बैटरी-6</p>
                        </div>
                        <div class="battery-box">
                            <img src="./assets/dead-battery.png" alt="charges-battery.png">
                        </div>
                    </div>
                </div>
                <div class="status-indicators">
                    <div class="barttery-status-indicator">
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/charges-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>पूरी तरह चार्ज</p>
                            </div>
                        </div>
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/charging-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>चार्ज हो रहा</p>
                            </div>
                        </div>
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/dead-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>बिना चार्ज</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>