<div class="container">
    <div class="header">
        <div class="image-banner"><img src="./assets/cm-bnner.png" alt="banner" class="banner1"></div>
    </div>
    <div class="hero-sec">
        <div class="available-batteries">
            <div class="available-batteries-heading">
                <h6>उपलब्ध बैटरियां</h6>
            </div>
            <div class="battery-indicator-div">
                <div class="batteries-box">
                    <div *ngFor="let batteryStatus of batteryState; let i = index">
                      <div class="battery-box-p">
                        <div class="battery-box-heading">
                          <p>{{ 'बैटरी-' + (i + 1) }}</p>  <!-- Display the box number dynamically -->
                        </div>
                        <div class="battery-box">
                          <div *ngIf="batteryStatus.batteryStatus !== Status.EMPTY">
                            <app-test-animation *ngIf="batteryStatus.batteryStatus === Status.CHARGING"></app-test-animation>
                            <img [src]="getBatteryStatusImage(batteryStatus.batteryStatus)" alt="battery-status-image" />
                          </div>
                          <img *ngIf="batteryStatus.batteryStatus === Status.EMPTY" [src]="getBatteryStatusImage(batteryStatus.batteryStatus)" alt="dead-battery" />
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="status-indicators">
                    <div class="barttery-status-indicator">
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/charges-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>पूरी तरह चार्ज है</p>
                            </div>
                        </div>
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/charging-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>चार्ज हो रहा है</p>
                            </div>
                        </div>
                        <div class="indicator-box">
                            <div class="indicator-icon">
                                <img src="./assets/dead-battery.png" alt="charges-battery.png" class="ibattery">

                            </div>
                            <div class="indicator-text">
                                <p>बैटरी नहीं है</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client-details" >
            <div class="img-text-div">
                <div class="vehicle-image-div">
                    <img [src]="customer.customerImage" alt="client-image.png" class="client-image">
                </div>
                <div class="text-details">
                    <div class="details-heading">
                        <h6>ग्राहक आईडी: </h6>
                        <h6>नाम:</h6>
                        <h6>मोबाइल नंबर:</h6>
                        <h6>वाहन नंबर:</h6>
                    </div>
                    <div class="details-value">
                        <h6>{{customer.id}}</h6>
                        <h6>{{customer.fullName}}</h6>
                        <h6>{{customer.mobileNumber}}</h6>
                        <h6>{{customer.vehicle.vehicleNumber}}</h6>
                    </div>
                </div>
            </div>
    </div>
        <!-- Popup Background Blur -->
        <div class="popup-overlay" *ngIf="showPopup"></div>

        <!-- Popup Component -->
        <div class="popup-window" *ngIf="showPopup">
            <app-inserting-animation (close)="closePopup()" [rfId]="rfId"></app-inserting-animation>
        </div>
    </div>
</div>