.container{
    background-color: #3F62F0;
    width: 100vw;
    height: 100vh;

}
/* ======================== header======================= */
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    background-color: #8AA1FD;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}
.instruction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.instruction p{
    font-size: 30px;
    margin-left: 20px;
    color: white;
}
.image-banner{
    width: 200px;
    height: 60px;
}
.banner1{
    width: 100%;
    height: 100%;
}
/* ================================= hero section========================= */
.hero-sec{
    display: flex;

}
.available-batteries{
    width: 910px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.available-batteries-heading{
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.available-batteries-heading h6{
    font-size: 30px;
    margin-right: 200px;
}
.battery-box-p{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
}

.battery-indicator-div{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.batteries-box{
    width: 600px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #8AA1FD;
    padding: 10px;
    margin-top: 25px;  
}
.battery-box-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.battery-box{
    height: 150px;
    width: 120px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.batteries-box img{
    height: 100px;
    width: 60px;
}
/* ============================================ cleint details -========================================== */
.client-details-heading{
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-details-heading h6{
    font-size: 20px;
}
.client-details{
    background-color: #8AA1FD;
    height: 700px;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1px;
}
.client-profile-img-box{
    border-radius: 50%;
    width: 120px;
    height: 130px;
    margin-bottom: 50px;
}
.client-profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-profile-img img{
    width: 100%;
    height: 100%;
    background-color: #D9DCE1;
}
.user-profile{
    object-fit: contain;
    border-radius: 10px;
}
.about-client{
    width: 100%;
    padding-left: 250px;
    color: white;
    font-weight: bold;
    
}
.about-client p{
    margin-bottom: 10px;
    font-size: 20px;
}
/* ================================== indicator ========================= */
.status-indicators{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.barttery-status-indicator{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.indicator-heading{
    width: 100%;
    color: white;
    font-size: 20px;
}
.indicator-box{
    display: flex;
    justify-content: flex-start;
    width: 200px;
}
.indicator-icon{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator-icon img{
    width: 30px;
    height: 30px;
}
.indicator-text{
    color: white;
}
.ibattery{
    object-fit: contain;
}



