.completion-screen {
  width: 1360px;
  height: 768px;
  background: linear-gradient(to bottom, #bdf4b4, #56ab2f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 40px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-tadoba {
  height: 140px;
  width: auto;
  object-fit: contain;
}

.logo-ibitf {
  height: 250px;
  width: auto;
  object-fit: contain;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.completion-message {
  margin-bottom: 40px;
}

.completion-message h2 {
  font-size: 74px;
  color: white;
  font-weight: 500;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.thankyou-message h1 {
  font-size: 74px;
  color: white;
  font-weight: 500;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  line-height: 1;
}

.footer-section {
  padding: 95px 40px 5px 40px;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}
.footer-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 45%;
}
.logo-makeinindia {
  height: 70px;
}
.logo-atmanirbhar {
  height: 101px;
}
.logo-startup {
  height: 135px;
}
.contact-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 40%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 12px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.number-div,
.web-loc-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.number,
.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 18px;
  color: #000;
  width: 20px;
  text-align: center;
}

.whatsapp-icon {
  color: #000;
  font-size: 20px;
}

.contact-div h6 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
