<div class="completion-screen">
    <div class="logo-container">
        <div class="logo-wrapper">
            <img src="./assets/tadoba-logo.png" alt="Tadoba Logo" class="logo-tadoba">
        </div>
        <div class="logo-wrapper">
            <img src="./assets/ibitf.png" alt="IBITF Logo" class="logo-ibitf">
        </div>
    </div>

    <div class="message-container">
        <div class="completion-message">
            <h2>आपकी बैटरी स्वैपिंग पूरी हो गई है।</h2>
        </div>
        <div class="thankyou-message">
            <h1>धन्यवाद !</h1>
        </div>
    </div>
</div>