<div class="completion-screen">
    <div class="logo-container">
        <div class="logo-wrapper">
            <img src="./assets/tadoba-logo.png" alt="Tadoba Logo" class="logo-tadoba">
        </div>
        <div class="logo-wrapper">
            <img src="./assets/ibitf.png" alt="IBITF Logo" class="logo-ibitf">
        </div>
        <div class="logo-wrapper">
            <img src="./assets/mguevv.png" alt="IBITF Logo" class="logo-mguevv">
        </div>
    </div>

    <div class="message-container">
        <div class="completion-message">
            <h2>आपकी बैटरी स्वैपिंग पूरी हो गई है।</h2>
        </div>
        <div class="thankyou-message">
            <h1>धन्यवाद !</h1>
        </div>
    </div>
    <div class="footer-section">
        <div class="contact-div">
            <div class="number-div">
                <div class="number">
                    <i class="fas fa-phone-alt icon"></i>
                    <h6>+91 9685778971</h6>
                </div>
                <div class="number">
                    <i class="fab fa-whatsapp icon whatsapp-icon"></i>
                    <h6>+91 8896444447</h6>
                </div>
            </div>
            <div class="web-loc-div">
                <div class="info">
                    <i class="fas fa-globe icon"></i>
                    <h6>www.tadobasolutions.com</h6>
                </div>
                <div class="info">
                    <i class="fas fa-map-marker-alt icon"></i>
                    <h6>Sejbahar, Raipur (C.G.), 492015(IN)</h6>
                </div>
            </div>
        </div>
        <div class="footer-logo-div">
            <img src="assets/mii.png" alt="Make In India" class="logo-makeinindia" />
            <img src="assets/aaba.png" alt="Aatmanirbhar Bharat" class="logo-atmanirbhar" />
            <img src="assets/startup-india.png" alt="Startup India" class="logo-startup" />
        </div>
    </div>
</div>