<div class="container">
    <div class="center">
        <!-- <h6>बैटरी स्वैपिंग सिस्टम में स्कैन करें</h6> -->
        <div class="animation-card-swipe">
            <div class="ani-circle">
                <!-- Use a <video> tag for .mp4 files -->
                <video autoplay loop muted style="width: 800px; height: auto;" class="card-swapping-video">
                    <source src="assets/animation/bss-animation.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="message-text">
            <h1>कृपया अपना कार्ड स्कैन करें |</h1>
        </div>
    </div>
</div>