.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* ================Box Container========================================================= */

.box-container {
  height: 600px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.battery-container {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3f62f0;
  padding: 20px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 10px;
  color: white;
  margin: 5px;
}
.animation-container {
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ========================= Start Spiner Animation=============================================================================== */
.box-container-second {
  height: 600px;
}
.center {
  width: 100%;
  background: transparent;
}
.message-text {
  color: wheat;
}
.message-text h1 {
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: bold;
}
.buffering-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* The spinner */
.spinner {
  width: 180px;
  height: 180px;
  border: 15px solid #ddd; /* Light gray */
  border-top: 15px solid #3e59c6; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========================= End Spiner Animation=============================================================================== */
.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 430px;
  width: 350px;
}
.process {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(27, 129, 27);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.animate {
  animation: blink2 1s infinite;
}
.hide-video-player {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h5 {
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
video {
  height: 400px;
  width: 400px;
  pointer-events: none;
  user-select: none;
}
video::-webkit-media-controls {
  display: none !important; /* Hides controls for Webkit browsers */
}
/* ================================================ container deiv======================== */
.battery-box-container {
  height: 300px;
  width: 400px;
  background-color: #ffffff4d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  border: 3px #e9e7e7 solid;
  padding-right: 10px;
  border-radius: 10px;
}
.battery-box {
  height: 100px;
  width: 100px;
  background-color: white;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.blinking-box-inserting {
  animation: inserting-blink 1s infinite;
}
.blinking-box-taking {
  animation: taking-blink 1s infinite;
}
/* ============================================================== */

.popup-content {
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  max-width: 1200px;
  z-index: 1050;
}

/* ============================================================== */
@keyframes inserting-blink {
  0% {
    background-color: #e56717;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #e56717;
  }
}
@keyframes taking-blink {
  0% {
    background-color: #36c024;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #36c024;
  }
}

@keyframes inserting-blink {
  0% {
    background-color: #e56717;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #e56717;
  }
}
@keyframes taking-blink {
  0% {
    background-color: #36c024;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #36c024;
  }
}

@keyframes blink2 {
  0% {
    border: 3px solid rgb(27, 129, 27);
    opacity: 1;
  }
  50% {
    border: 3px solid white;
    opacity: 0.5;
  }
  100% {
    border: 3px solid rgb(27, 129, 27);
    opacity: 1;
  }
}
